#Not needed by anything except Eclipse, and Eclipse will automatically make them
.settings
Debug
.cproject
.project
Thumbs.db
build.properties
build.xml
.gitignore
README.md
Untitled Diagram.png
Untitled Diagram.xml